@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #131022;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

/* NAV MENU */

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.nav__primary {
  display: flex;
  align-items: center;
}

.nav__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 12px;
  font-size: 48px;
}

.login__btn,
.signout__btn {
  font-size: 32px;
  background-color: #7703fc;
  color: white;
  padding: 8px 32px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
}

.menu__icon {
  font-size: 36px;
  margin-right: 24px;
  color: #fff;
}

.welcome__msg {
  color: #fff;
}

/* HEADER */

#header {
  padding: 128px 24px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__header {
  font-size: 64px;
  margin-bottom: 12px;
  color: #fff;
}

.landing__para {
  font-size: 22px;
  opacity: 0.85;
  color: #fff;
}

.landing__img {
  width: 100%;
}

.landing__img--wrapper {
  max-width: 700px;
  margin-left: 7rem;
}

/* STATS */

#stats {
  background-color: #f79;
}

.stats__container {
  max-width: 1400px;
  padding: 70px 24px;
  margin: 0 auto;
}

.stats__heading {
  color: #fff;
  text-align: center;
  font-size: 64px;
}

.stats__figures--container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 72px;
}

.stats__figure {
  margin: 0 12%;
  color: #fff;
  font-size: 72px;
  font-weight: bold;
}

/* CHATROOM */

.chatroom__header {
  color: white;
}
